.update-container {
  position: relative;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-container .input-group {
  margin-bottom: 15px;
}

.update-container .input-group label {
  display: block;
  margin-bottom: 5px;
}

.update-container .input-group input,
.update-container .input-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.update-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.update-btn-div button {
  font-size: 1.2em;
  margin: 0 auto;
  padding: 10px 10%;
  background: #1DC483;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn-div button:hover {
  background-color: #17a669;
}

.form-close-btn-div {
  position: absolute;
  top: 10px;
  right: 15px;
}

.form-close-btn {
  background: none;
  color: red;
  font-size: 25px;
  cursor: pointer !important;
  padding: 0 !important;
  border: 0;
}

.form-close-btn:hover {
  background-color: #fff !important;
}